<div id="posts" class="transitions-enabled" >
  <% @posts.each do |post| %>
    <div class="box">
      <%= post.title %>
      <%= image_tag post.image.url(:medium) %>
      <%= post.content %>
      <%= post.user.email if post.user %>
      <%= time_ago_in_words(post.created_at) %> ago.
      <%= link_to 'Show', post, class: 'btn btn-info btn-sm' %>
      <% if post.user == current_user%>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-sm' %>
        <%= link_to 'Destroy', post, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
 